<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>СПОРТ</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=BIZ+UDPGothic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dela+Gothic+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2&amp;display=swap">
    <link rel="stylesheet" href="/static/assets/css/Navbar-Right-Links-icons.css">
    <link rel="icon" href="/static/assets/img/sport_avatar.png" type="image/png">
</head>

<body style="background: rgb(255,247,235);">
{% if current_user.is_authenticated %}
    <nav class="navbar navbar-light navbar-expand-md py-3" style="background: #ffffff;border-bottom: 8px solid rgb(116,151,160) ;">
        <div class="container">
            <div class="collapse navbar-collapse" id="navcol-2"><img src="/static/assets/img/sport.png" style="width: 27%;height: 20%;">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                </ul>
                <h1 style="color: rgb(3,59,100);font-family: 'Dela Gothic One', serif;font-size: 120%;">{{ current_user.name }}</h1><a class="btn btn-primary ms-md-2" role="button" href="/logout" style="margin-top: -2px;border-bottom-color: rgb(116,151,160);font-family: 'Dela Gothic One', serif;color: rgb(255,136,14);background: rgb(3,59,100);">Выйти</a>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top: 4%;">
        <div class="row">
            <div class="col-md-6" style="width: 10%;"><form action="/user/main" method="get"><button class="btn btn-primary" style="background: rgb(3,59,100);font-family: 'Exo 2', sans-serif;margin: 0px;margin-top: 8px;">Назад</button></form></div>
            <div class="col" style="width: 90%;">
                <div class="table-responsive" style="padding-top: 0px;margin: 0px;">
                    <table id="item-table" class="table">
                        <thead style="margin: 0px;border-bottom: 3px dashed rgb(116,151,160);">
                            <tr>
                                <th style="color: rgb(3,59,100);font-family: 'Exo 2', sans-serif;border-left: 4px solid rgb(116,151,160);border-bottom: 4px solid rgb(116,151,160);border-top: 4px solid rgb(116,151,160);border-right: 4px solid rgb(116,151,160);font-size: 130%;">Наименование</th>
                                <th style="color: rgb(3,59,100);font-family: 'Exo 2', sans-serif;border-left: 4px solid rgb(116,151,160);border-bottom: 4px solid rgb(116,151,160);border-top: 4px solid rgb(116,151,160);font-size: 130%;">Состояние</th>
                                <th style="color: rgb(3,59,100);border-right: 4px solid rgb(116,151,160);border-bottom: 4px solid rgb(116,151,160);border-top: 4px solid rgb(116,151,160);"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in inventory %}
                            <tr>
                                <td style="font-size: 125%;border-left: 3px solid rgb(116,151,160);border-bottom: 3px solid rgb(116,151,160);border-top: 3px solid rgb(116,151,160);color: rgb(3,59,100);font-family: 'Exo 2'">{{ item[1] }}</td>
                                <td style="font-size: 125%;border-bottom: 3px solid rgb(116,151,160);border-left: 3px dashed rgb(116,151,160);border-top: 3px solid rgb(116,151,160);color: rgb(3,59,100);font-family: 'Exo 2'">{{ item[2] }}</td>
                                {% if item[3] %}
                                    <td style="font-size: 125%;border-right: 3px solid rgb(116,151,160);border-bottom: 3px solid rgb(116,151,160);border-top: 3px solid rgb(116,151,160);font-family: 'Exo 2';color: rgb(3,59,100)">Вы сделали заказ<br>Ваша заявка {{ item[3] }}</td>
                                {% else %}
                                    <td style="border-right: 3px solid rgb(116,151,160);border-bottom: 3px solid rgb(116,151,160);border-top: 3px solid rgb(116,151,160);width: 20%;"><button class="btn btn-primary" id="{{item[0]}}" name="{{ item[0] }}" style="background: rgb(116,151,160);">Заказать предмет</button></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='/scripts/request_new_item.js')}}"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
{% else %}
    <h1>Бро, тебе нужно авторизоваться</h1>
{% endif %}
</body>

</html>